svg {
	background: #000;
	fill: url(#radial_mask);
}
#map > * {
	fill: #050 !important;
	stroke: transparent;
}
#map > .hover {
	fill: #0F0 !important;
	stroke: transparent;
}

#map .pavement {
	fill: url(#pavement) !important;
}