svg {
	background: #000;
	fill: url(#radial_mask);
}
#map * {
	fill: #050 !important;
	stroke: none !important;
	stroke-width: 0px;
}
#map .hover, #map *:hover {
	fill: #0F0 !important;
}

#map .hover_neighbour {
	fill: #F00 !important;
}
